<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POCoffee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>300957521C34706B0075B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3009576E1C34706B0075B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>300957791C34706B0075B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
